{% extends "base.html" %}
{% block content %}
<div class="app-inner-layout chat-layout">
    <div class="app-inner-layout__wrapper row-fluid no-gutters">
        <div class="app-inner-layout__sidebar bg-transparent card">
            <div class="p-3">
                <div class="dropdown-menu nav p-0 dropdown-menu-inline dropdown-menu-rounded dropdown-menu-hover-primary">
                    <h6 tabindex="-1" class="pt-0 dropdown-header">Content</h6>
                    <a href="#tab-faq-1" data-toggle="tab" tabindex="0" class="mb-1 active dropdown-item">PDF Content</a>
                    <a href="#tab-faq-2" data-toggle="tab" tabindex="0" class="mb-1 dropdown-item">Components</a>
                    <a href="#tab-faq-3" data-toggle="tab" tabindex="0" class="mb-1 dropdown-item">Images</a>
                </div>
            </div>
        </div>
        <div class="col-md-12 app-inner-layout__content card">
            <div class="pb-5 pl-5 pr-5 pt-3">
                <div class="mobile-app-menu-btn mb-3">
                    <button type="button" class="hamburger hamburger--elastic"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-faq-1">

                        <h4>PDF Content</h4>
                        <div class="divider"></div>
                        <div>
                            <div role="group" class="mb-3 btn-group-lg btn-group">
                                <button id="prev" class="btn-shadow  btn btn-alternate btn-pill pl-3">Prev</button>
                                <button id="next" class="btn-shadow  btn btn-alternate btn-pill pr-3">Next</button>
                            </div>
                            &nbsp; &nbsp;
                            <span>Page: <span class="badge badge-success align-text-bottom ml-1" id="page_num"></span> / <span id="page_count"></span></span>
                          </div>
                          
                          <canvas id="the-canvas"></canvas>
                        <div class="mt-5"></div>
                    </div>
                    <div class="tab-pane" id="tab-faq-2"><h4>Components</h4>
                        <div id="accordion" class="accordion-wrapper mb-3">
                            <div class="card">
                                <div id="headingOne" class="card-header">
                                    <button type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block">
                                        <h5 class="m-0 p-0">General Information</h5>
                                    </button>
                                </div>
                                <div data-parent="#accordion" id="collapseOne1" aria-labelledby="headingOne" class="collapse show">
                                    <div class="card-body">
                                        Sorry, General Information not extracted from this PDF
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingTwo" class="b-radius-0 card-header">
                                    <button type="button" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="false" aria-controls="collapseTwo" class="text-left m-0 p-0 btn btn-link btn-block"><h5 class="m-0 p-0">
                                        Key Features</h5></button>
                                </div>
                                <div data-parent="#accordion" id="collapseOne2" class="collapse">
                                    <div class="card-body">
                                        Sorry, Key Features not extracted from this PDF
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingThree" class="card-header">
                                    <button type="button" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="false" aria-controls="collapseThree" class="text-left m-0 p-0 btn btn-link btn-block"><h5 class="m-0 p-0">
                                        Tables</h5></button>
                                </div>
                                <div data-parent="#accordion" id="collapseOne3" class="collapse">
                                    <div class="card-body">
                                        Sorry, Tables not extracted from this PDF
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-faq-3"><h4>Images and Tables</h4>
                        <div class="divider"></div>
                        <p>No Images Uploaded</p>
                        <div class="mt-5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var url = 'https://celus-pdf.website.yandexcloud.net/{{ request.args.get('pdfpath') }}';
var pdfjsLib = window['pdfjs-dist/build/pdf'];
pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';
var pdfDoc = null,
    pageNum = {{ request.args.get('pagenum') }},
    pageRendering = false,
    pageNumPending = null,
    scale = 0.8,
    canvas = document.getElementById('the-canvas'),
    ctx = canvas.getContext('2d');

function renderPage(num) {
  pageRendering = true;
  pdfDoc.getPage(num).then(function(page) {
    var viewport = page.getViewport({scale: scale});
    canvas.height = viewport.height;
    canvas.width = viewport.width;

    var renderContext = {
      canvasContext: ctx,
      viewport: viewport
    };
    var renderTask = page.render(renderContext);

    renderTask.promise.then(function() {
      pageRendering = false;
      if (pageNumPending !== null) {
        renderPage(pageNumPending);
        pageNumPending = null;
      }
    });
  });
  document.getElementById('page_num').textContent = num;
}

function queueRenderPage(num) {
  if (pageRendering) {
    pageNumPending = num;
  } else {
    renderPage(num);
  }
}

function onPrevPage() {
  if (pageNum <= 1) {
    return;
  }
  pageNum--;
  queueRenderPage(pageNum);
}
document.getElementById('prev').addEventListener('click', onPrevPage);

function onNextPage() {
  if (pageNum >= pdfDoc.numPages) {
    return;
  }
  pageNum++;
  queueRenderPage(pageNum);
}
document.getElementById('next').addEventListener('click', onNextPage);

pdfjsLib.getDocument(url).promise.then(function(pdfDoc_) {
  pdfDoc = pdfDoc_;
  document.getElementById('page_count').textContent = pdfDoc.numPages;
  renderPage(pageNum);
});
</script>
{% endblock %}