{% extends "base.html" %}
{% block content %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-search icon-gradient bg-ripe-malin">
                    </i>
                </div>
                <div>Search Results
                    <div class="page-title-subheading">Results for Your Query: <strong>{{ request.args.get('search_input') }}</strong>
                    </div>
                </div>
            </div>
               
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header pl-0 pr-0">
            <div class="row no-gutters w-100 align-items-center">
                <div class="col"></div>
                <div class="col-2 text-muted">
                    <div class="row no-gutters align-items-center">
                        <div class="col-12">Uploaded by</div>
                    </div>
                </div>
            </div>
        </div>
    
        {% for mainkey in search_result %}
    <div class="card-body py-3">
        <div class="row no-gutters align-items-center">
            <div class="col">
                <a href="{{ url_for('final_result', pdfpath=mainkey, pagenum=1) }}" class="text-big">{{ mainkey }}</a>
                {% for key, value in search_result[mainkey].items() %}
                <div class="text-muted small mt-1"><strong> Page {{ key }} &nbsp;·&nbsp; </strong><a href="{{ url_for('final_result', pdfpath=mainkey, pagenum=key) }}" class="text-muted">{{ value }}</a></div>
                {% endfor %}
            </div>
            <div class="d-none d-md-block col-2">

                <div class="row no-gutters align-items-center">
                    <div class="media col-12 align-items-center">
                        <img style="width: 40px; height: auto;" src="static/assets/images/avatars/1.jpg" alt="" class="d-block ui-w-30 rounded-circle">
                        <div class="media-body flex-truncate ml-2">
                            <div class="line-height-1 text-truncate">Mayorov Yuri</div>
                            <a href="javascript:void(0)" class="text-muted small text-truncate">Intel Corp.</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <hr class="m-0">
    {% endfor %}
    </div>
{% endblock %}