{% extends "base.html" %}
{% block content %}
<div class="app-page-title">
    <div class="page-title-wrapper">

        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-news-paper icon-gradient bg-ripe-malin">
                </i>
            </div>
            <div>
                Celus Datasheet Search
                <div class="page-title-subheading">Platform for Searching in Microelectronics Datasheets
                </div>
            </div>
        </div>    
    </div>
</div>

<div class="text-center mb-3">
    <h5 class="menu-header-title text-capitalize mb-3 fsize-3">Latest Uploads</h5>
</div>

<div class="card mb-3">
    <div class="card-header pl-0 pr-0">
        <div class="row no-gutters w-100 align-items-center">
            <div class="col"></div>
            <div class="col-4 text-muted">
                <div class="row no-gutters align-items-center">
                    <div class="col-4">Downloads</div>
                    <div class="col-8">Uploaded by</div>
                </div>
            </div>
        </div>
    </div>

                        {% if contents %}
                        {% for item in contents %}
                        {% if loop.index <= 5 %}
    <div class="card-body py-3">
        <div class="row no-gutters align-items-center">
            <div class="col">
                <a href="{{ url_for('final_result', pdfpath=item.Key, pagenum=1) }}" class="text-big">{{ item.Key }}</a>
                <div class="text-muted small mt-1">Microcontrolers &nbsp;·&nbsp; <a href="javascript:void(0)" class="text-muted">MC's</a></div>
            </div>
            <div class="d-none d-md-block col-4">

                <div class="row no-gutters align-items-center">
                    <div class="col-4">1</div>
                    <div class="media col-8 align-items-center">
                        <img style="width: 40px; height: auto;" src="static/assets/images/avatars/1.jpg" alt="" class="d-block ui-w-30 rounded-circle">
                        <div class="media-body flex-truncate ml-2">
                            <div class="line-height-1 text-truncate">Mayorov Yuri</div>
                            <a href="javascript:void(0)" class="text-muted small text-truncate">Intel Corp.</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <hr class="m-0">
    {% endif %}
                        {% endfor %}
                        {% endif %}
</div>

<div class="text-center mb-3">
    <h5 class="menu-header-title text-capitalize mb-3 fsize-3">Manufacturers</h5>
    <div role="group" class="mb-3 btn-group-lg btn-group">
        <button class="btn-shadow  btn btn-alternate btn-pill pl-3">Popular</button>
        <button class="btn-shadow  btn btn-alternate btn-pill pr-3">Last Update</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="card-shadow-primary card-border mb-3 profile-responsive card">
            <div class="dropdown-menu-header">
                <div class="dropdown-menu-header-inner bg-alternate">
                    <div class="menu-header-image opacity-2" style="background-image: url('static/assets/images/originals/login1.jpg');"></div>
                    <div class="menu-header-content btn-pane-right">
                        <div class="avatar-icon-wrapper mr-3 avatar-icon-xl btn-hover-shine">
                            <div class="avatar-icon rounded"><img src="static/assets/images/avatars/4.jpg" alt="Avatar 5"></div>
                        </div>
                        <div><h5 class="menu-header-title">Intel Corp.</h5><h6 class="menu-header-subtitle">Processors</h6></div>
                        <div class="menu-header-btn-pane">
                            <button type="button" class="btn-wide btn-hover-shine btn-pill btn btn-warning">Datasheets</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="card-shadow-primary card-border mb-3 profile-responsive card">
            <div class="dropdown-menu-header">
                <div class="dropdown-menu-header-inner bg-alternate">
                    <div class="menu-header-image opacity-2" style="background-image: url('static/assets/images/originals/login2.jpg');"></div>
                    <div class="menu-header-content btn-pane-right">
                        <div class="avatar-icon-wrapper mr-3 avatar-icon-xl btn-hover-shine">
                            <div class="avatar-icon rounded"><img src="static/assets/images/avatars/5.jpg" alt="Avatar 5"></div>
                        </div>
                        <div><h5 class="menu-header-title">Toshiba Corp.</h5><h6 class="menu-header-subtitle">Wireless</h6></div>
                        <div class="menu-header-btn-pane">
                            <button type="button" class="btn-wide btn-hover-shine btn-pill btn btn-warning">Datasheets</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="card-shadow-primary card-border mb-3 profile-responsive card">
            <div class="dropdown-menu-header">
                <div class="dropdown-menu-header-inner bg-alternate">
                    <div class="menu-header-image opacity-2" style="background-image: url('static/assets/images/originals/login3.jpg');"></div>
                    <div class="menu-header-content btn-pane-right">
                        <div class="avatar-icon-wrapper mr-3 avatar-icon-xl btn-hover-shine">
                            <div class="avatar-icon rounded"><img src="static/assets/images/avatars/8.jpg" alt="Avatar 5"></div>
                        </div>
                        <div><h5 class="menu-header-title">NXP</h5><h6 class="menu-header-subtitle">Microchips</h6></div>
                        <div class="menu-header-btn-pane">
                            <button type="button" class="btn-wide btn-hover-shine btn-pill btn btn-warning">Datasheets</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center mb-3">
    <h5 class="menu-header-title text-capitalize mb-3 fsize-3">Contributors</h5>
    <div role="group" class="mb-3 btn-group-lg btn-group">
        <button class="btn-shadow  btn btn-alternate btn-pill pl-3">Popular</button>
        <button class="btn-shadow  btn btn-alternate btn-pill pr-3">Last Update</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="card-shadow-primary card-border mb-3 profile-responsive card">
            <div class="dropdown-menu-header">
                <div class="dropdown-menu-header-inner bg-alternate">
                    <div class="menu-header-image opacity-2" style="background-image: url('static/assets/images/originals/back.jpg');"></div>
                    <div class="menu-header-content btn-pane-right">
                        <div class="avatar-icon-wrapper mr-3 avatar-icon-xl btn-hover-shine">
                            <div class="avatar-icon rounded"><img src="static/assets/images/avatars/1.jpg" alt="Avatar 5"></div>
                        </div>
                        <div><h5 class="menu-header-title">Yuri Mayorov</h5><h6 class="menu-header-subtitle">Fullstack Dev/DS</h6></div>
                        <div class="menu-header-btn-pane">
                            <button type="button" class="btn-wide btn-hover-shine btn-pill btn btn-warning">Datasheets</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="card-shadow-primary card-border mb-3 profile-responsive card">
            <div class="dropdown-menu-header">
                <div class="dropdown-menu-header-inner bg-alternate">
                    <div class="menu-header-image opacity-2" style="background-image: url('static/assets/images/originals/back.jpg');"></div>
                    <div class="menu-header-content btn-pane-right">
                        <div class="avatar-icon-wrapper mr-3 avatar-icon-xl btn-hover-shine">
                            <div class="avatar-icon rounded"><img src="static/assets/images/avatars/2.jpg" alt="Avatar 5"></div>
                        </div>
                        <div><h5 class="menu-header-title">Jim Root</h5><h6 class="menu-header-subtitle">Lead Engineer</h6></div>
                        <div class="menu-header-btn-pane">
                            <button type="button" class="btn-wide btn-hover-shine btn-pill btn btn-warning">Datasheets</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="card-shadow-primary card-border mb-3 profile-responsive card">
            <div class="dropdown-menu-header">
                <div class="dropdown-menu-header-inner bg-alternate">
                    <div class="menu-header-image opacity-2" style="background-image: url('static/assets/images/originals/back.jpg');"></div>
                    <div class="menu-header-content btn-pane-right">
                        <div class="avatar-icon-wrapper mr-3 avatar-icon-xl btn-hover-shine">
                            <div class="avatar-icon rounded"><img src="static/assets/images/avatars/3.jpg" alt="Avatar 5"></div>
                        </div>
                        <div><h5 class="menu-header-title">Corey Taylor</h5><h6 class="menu-header-subtitle">Lead Developer</h6></div>
                        <div class="menu-header-btn-pane">
                            <button type="button" class="btn-wide btn-hover-shine btn-pill btn btn-warning">Datasheets</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}