{% extends "base.html" %}
{% block content %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-notebook icon-gradient bg-ripe-malin">
                    </i>
                </div>
                <div>My Bookmarks
                    <div class="page-title-subheading">Your Favourite Datasheets
                    </div>
                </div>
            </div>
               
        </div>
    </div>

    <div class="d-flex flex-wrap justify-content-between">
        <div class="col-12 col-md-3 p-0 mb-3">
            <input type="text" class="form-control" placeholder="Search in Bookmarks">
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header pl-0 pr-0">
            <div class="row no-gutters w-100 align-items-center">
                <div class="col"></div>
                <div class="col-4 text-muted">
                    <div class="row no-gutters align-items-center">
                        <div class="col-4">Downloads</div>
                        <div class="col-8">Uploaded by</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body py-3">
            <div class="row no-gutters align-items-center">
                <div class="col">
                    <a href="{{ url_for('final_result') }}" class="text-big">PDF Name</a>
                    <div class="text-muted small mt-1">Category Name &nbsp;·&nbsp; <a href="javascript:void(0)" class="text-muted">SubCategory</a></div>
                </div>
                <div class="d-none d-md-block col-4">

                    <div class="row no-gutters align-items-center">
                        <div class="col-4">1</div>
                        <div class="media col-8 align-items-center">
                            <img style="width: 40px; height: auto;" src="static/assets/images/avatars/1.jpg" alt="" class="d-block ui-w-30 rounded-circle">
                            <div class="media-body flex-truncate ml-2">
                                <div class="line-height-1 text-truncate">Time ago</div>
                                <a href="javascript:void(0)" class="text-muted small text-truncate">Comp Name</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <hr class="m-0">
    </div>
{% endblock %}