{% extends "base.html" %}
{% block content %}
<div class="app-inner-layout chat-layout">
    <div class="app-inner-layout__wrapper row-fluid no-gutters">
        <div class="app-inner-layout__sidebar bg-transparent card">
            <div class="p-3">
                <div class="dropdown-menu nav p-0 dropdown-menu-inline dropdown-menu-rounded dropdown-menu-hover-primary">
                    <h6 tabindex="-1" class="pt-0 dropdown-header">Content</h6>
                    <a href="#tab-faq-1" data-toggle="tab" tabindex="0" class="mb-1 active dropdown-item">PDF Content</a>
                    <a href="#tab-faq-2" data-toggle="tab" tabindex="0" class="mb-1 dropdown-item">Components</a>
                    <a href="#tab-faq-3" data-toggle="tab" tabindex="0" class="mb-1 dropdown-item">Images</a>
                </div>
            </div>
        </div>
        <div class="col-md-12 app-inner-layout__content card">
            <div class="pb-5 pl-5 pr-5 pt-3">
                <div class="mobile-app-menu-btn mb-3">
                    <button type="button" class="hamburger hamburger--elastic"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-faq-1">

                        <h4>PDF Content</h4>
                        <div class="divider"></div>
                        <div>
                            <div role="group" class="mb-3 btn-group-lg btn-group">
                                <button id="prev" class="btn-shadow  btn btn-alternate btn-pill pl-3">Prev</button>
                                <button id="next" class="btn-shadow  btn btn-alternate btn-pill pr-3">Next</button>
                            </div>
                            &nbsp; &nbsp;
                            <span>Page: <span class="badge badge-success align-text-bottom ml-1" id="page_num"></span> / <span id="page_count"></span></span>
                          </div>
                          
                          <canvas id="the-canvas"></canvas>
                        <div class="mt-5"></div>
                    </div>
                    <div class="tab-pane" id="tab-faq-2"><h4>Components</h4>
                        <div id="accordion" class="accordion-wrapper mb-3">
                            <div class="card">
                                <div id="headingOne" class="card-header">
                                    <button type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block">
                                        <h5 class="m-0 p-0">General Information</h5>
                                    </button>
                                </div>
                                <div data-parent="#accordion" id="collapseOne1" aria-labelledby="headingOne" class="collapse show">
                                    <div class="card-body"><p>The STM32F031x4/x6 microcontrollers incorporate the high-performance ARM®Cortex®-M0 32-bit RISC core operating at up to 48 MHz frequency, high-speed embedded memories (up to 32 Kbytes of Flash memory and 4 Kbytes of SRAM), and an extensive range of enhanced peripherals and I/Os. All devices offer standard communication interfaces (one I2C, one SPI/ I2S and one USART), one 12-bit ADC, five 16-bit timers, one 32-bit timer and an advanced-control PWM timer.
</p>
                                        <p>The STM32F031x4/x6 microcontrollers operate in the -40 to +85 °C and -40 to +105 °C temperature ranges, from a 2.0 to 3.6 V power supply. A comprehensive set of power-saving modes allows the design of low-power applications.
                                        The STM32F031x4/x6 microcontrollers include devices in six different packages ranging from 20 pins to 48 pins with a die form also available upon request. Depending on the device chosen, different sets of peripherals are included.
                                        These features make the STM32F031x4/x6 microcontrollers suitable for a wide range of applications such as application control and user interfaces, hand-held equipment, A/V receivers and digital TV, PC peripherals, gaming and GPS platforms, industrial applications, PLCs, inverters, printers, scanners, alarm systems, video intercoms and HVACs.
                                    </p>
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingTwo" class="b-radius-0 card-header">
                                    <button type="button" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="false" aria-controls="collapseTwo" class="text-left m-0 p-0 btn btn-link btn-block"><h5 class="m-0 p-0">
                                        Key Features</h5></button>
                                </div>
                                <div data-parent="#accordion" id="collapseOne2" class="collapse">
                                    <div class="card-body">KEY FEATURES

                                        <p>Core: ARM®32-bit Cortex®-M0 CPU, frequency up to 48 MHz
                                        Memories
                                        16 to 32 Kbytes of Flash memory
                                        4 Kbytes of SRAM with HW parity</p>
                                        <p>CRC calculation unit
                                        Reset and power management
                                        Digital and I/Os supply: 2.0 to 3.6 V</p>
                                        <p>Analog supply: VDDA = from VDDto 3.6 V</p>
                                        <p>Power-on/Power-down reset (POR/PDR)</p>
                                        <p>Programmable voltage detector (PVD)</p>
                                        <p>Low power modes: Sleep, Stop and Standby</p>
                                        <p>VBATsupply for RTC and backup registers</p>
                                        <p>Clock management</p>
                                        <p>4 to 32 MHz crystal oscillator</p>
                                        <p>32 kHz oscillator for RTC with calibration</p>
                                        <p>Internal 8 MHz RC with x6 PLL option</p>
                                        <p>Internal 40 kHz RC oscillator</p>
                                            <p>Up to 39 fast I/Os</p>
                                                <p>All mappable on external interrupt vectors</p>
                                                <p>Up to 26 I/Os with 5 V tolerant capability</p>
                                                    <p>5-channel DMA controller</p>
                                                        <p>1 × 12-bit, 1.0 μs ADC (up to 10 channels)</p>
                                                            <p>Conversion range: 0 to 3.6V</p>
                                                                <p>Separate analog supply from 2.4 up to 3.6 V</p>
                                                                    <p>Up to 9 timers</p>
                                        <p>1 x 16-bit 7-channel advanced-control timer for 6 channels PWM output, with deadtime generation and emergency stop
                                        1 x 32-bit and 1 x 16-bit timer, with up to 4 IC/OC, usable for IR control decoding
                                        1 x 16-bit timer, with 2 IC/OC, 1 OCN, deadtime generation and emergency stop
                                        1 x 16-bit timer, with IC/OC and OCN, deadtime generation, emergency stop and modulator gate for IR control
                                        1 x 16-bit timer with 1 IC/OC</p>
                                        <p>Independent and system watchdog timers
                                        SysTick timer: 24-bit downcounter
                                        Calendar RTC with alarm and periodic wakeup from Stop/Standby
                                        Communication interfaces</p>
                                        <p>1 x I2C interface, supporting Fast Mode Plus (1 Mbit/s) with 20 mA current sink, SMBus/PMBus, and wakeup from Stop mode
                                        1 x USART supporting master synchronous SPI and modem control, ISO7816 interface, LIN, IrDA capability, auto baud rate detection and wakeup feature
                                        1 x SPI (18 Mbit/s) with 4 to 16 programmable bit frames, with I2S interface multiplexed
                                        Serial wire debug (SWD)
                                        96-bit unique ID</p>
                                        <p>Extended temperature range: -40 to +105°C
                                        All packages ECOPACK®2</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingThree" class="card-header">
                                    <button type="button" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="false" aria-controls="collapseThree" class="text-left m-0 p-0 btn btn-link btn-block"><h5 class="m-0 p-0">
                                        Tables</h5></button>
                                </div>
                                <div data-parent="#accordion" id="collapseOne3" class="collapse">
                                    <div class="card-body">
                                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered dataTable dtr-inline" role="grid" aria-describedby="example_info">
                                            <thead>
                                            <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 147.2px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Part Number</th><th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 232.2px;" aria-label="Position: activate to sort column ascending">Status</th><th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 105.2px;" aria-label="Office: activate to sort column ascending">Package</th><th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 54.2px;" aria-label="Age: activate to sort column ascending">ROHS Grade</th></tr>
                                            </thead>
                                            <tbody>
                                                <tr role="row" class="odd">
                                                <td tabindex="0" class="sorting_1">STM32F031K4U6</td>
                                                <td>Active</td>
                                                <td>Industrial</td>
                                                <td>Ecopack</td>
                                            </tr><tr role="row" class="even">
                                                <td class="sorting_1" tabindex="0">STM32F031K4U6TR</td>
                                                <td>Active</td>
                                                <td>Industrial</td>
                                                <td>Ecopack</td>
                                            </tr></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-faq-3"><h4>Images and Tables</h4>
                        <div class="divider"></div>
                        <p>No Images Uploaded</p>
                        <div class="mt-5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var url = '/static/stm32f031c4.pdf';
var pdfjsLib = window['pdfjs-dist/build/pdf'];
pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';
var pdfDoc = null,
    pageNum = 1,
    pageRendering = false,
    pageNumPending = null,
    scale = 0.8,
    canvas = document.getElementById('the-canvas'),
    ctx = canvas.getContext('2d');

function renderPage(num) {
  pageRendering = true;
  pdfDoc.getPage(num).then(function(page) {
    var viewport = page.getViewport({scale: scale});
    canvas.height = viewport.height;
    canvas.width = viewport.width;

    var renderContext = {
      canvasContext: ctx,
      viewport: viewport
    };
    var renderTask = page.render(renderContext);

    renderTask.promise.then(function() {
      pageRendering = false;
      if (pageNumPending !== null) {
        renderPage(pageNumPending);
        pageNumPending = null;
      }
    });
  });
  document.getElementById('page_num').textContent = num;
}

function queueRenderPage(num) {
  if (pageRendering) {
    pageNumPending = num;
  } else {
    renderPage(num);
  }
}

function onPrevPage() {
  if (pageNum <= 1) {
    return;
  }
  pageNum--;
  queueRenderPage(pageNum);
}
document.getElementById('prev').addEventListener('click', onPrevPage);

function onNextPage() {
  if (pageNum >= pdfDoc.numPages) {
    return;
  }
  pageNum++;
  queueRenderPage(pageNum);
}
document.getElementById('next').addEventListener('click', onNextPage);

pdfjsLib.getDocument(url).promise.then(function(pdfDoc_) {
  pdfDoc = pdfDoc_;
  document.getElementById('page_count').textContent = pdfDoc.numPages;
  renderPage(pageNum);
});
</script>
{% endblock %}